:root {
  --color-primary: #f2f3f5;
  --shadow-low: 0px 3px 3px -2px rgba(0, 0, 0, 0.3);
}

body,
html {
  background-color: #2b2d31;
  margin: 0;
  overflow: hidden;
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: var(--color-primary);
}

.ftperfil {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h3 {
  font-size: 12px;
}

#page {
  display: grid;
  grid-template-columns: 72px 240px 1fr 232px;
  height: 100vh !important;
}

#page > div {
  height: 100vh;
}

#servidores {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(30, 31, 34);

  padding: 12px;
  overflow: auto;
}

#servidores:last-child {
  margin-bottom: 24px;
}

#servidores > * {
  margin-bottom: 8px;
  flex-shrink: 0;
}

#servidores > .botao-servidor {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  transition: 200ms ease-in-out;
  transition-property: background-color, border-radius;
}

#servidores > .botao-servidor:hover {
  border-radius: 30%;
}

#servidores > div.botao-servidor {
  background-color: #2b2d31;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primario:hover {
  background-color: #5865f2 !important;
}

.secundario:hover {
  background: #21a559 !important;
}

.secundario > img {
  transition: filter 300ms ease-in-out !important;
}

.secundario:hover > img {
  filter: invert(88%) sepia(90%) saturate(0%) hue-rotate(261deg)
    brightness(1000%) contrast(97%) !important;
}

#chat {
  background-color: rgb(49, 51, 56);
}

.divider {
  background-color: #ffffff20;
  width: 32px;
  height: 2px;
  border-radius: 1px;
}

.botao-cinza:hover {
  background-color: #35373c;
}

#canais {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nomeserver {
  padding: 0 12px;
  display: flex;
  align-items: center;
  font-weight: 600;
  box-shadow: var(--shadow-low);
  justify-content: space-between;
  height: 48px;
}

#salas {
  padding: 16px 6px 0px 0px;
  flex: 1;
  overflow-y: auto;
}

#audio {
  height: 48px;
  background-color: #232428;
  height: 48px;
  padding: 0 8px;
  margin: 0 9 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nametag {
  display: flex;
  align-items: center;
  width: 122px;
  margin: 0 8px 0 -2px;
  padding: 4px 0 4px 2px;
  border-radius: 4px;
}

#audio .nametag .textonametag {
  margin-right: 4px;
  padding-left: 8px;
}

#audio .nametag .ftnametag img {
  height: 32px;
  width: 32px;
}

#audio > .nametag h6 {
  font-size: 14px;
}

#audio > .nametag p {
  font-size: 12px;
  color: #b5bac1;
}

#audio .svgsaudio {
  display: flex;
  align-items: center;
}

#audio .svgsaudio .caixasvg {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

#audio > .svgsaudio img {
  height: 20px;
  width: 20px;
}

.conversa {
  height: 34px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-left: 8px;
  border-radius: 4px;
}

.conversa:hover {
  color: #dadadaec;
}

.conversa:active {
  background-color: #35373c;
  color: #ffffff;
}

.conversa > img {
  width: 20px;
  height: 20px;
}

.conversa > h6 {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 5px;
}

.conversa .icones {
  display: none;
  margin-left: auto;
  width: max-content;
}

.conversa:hover .icones,
.conversa:active .icones {
  display: flex;
}

.icones img:not(:first-child) {
  margin-left: 5px;
}

#salas .colapsavel {
  height: 24px;
  color: #949ba4;
  font-size: 12px;
  display: flex;
  align-items: center;
}

#chat {
  display: flex;
  flex-direction: column;
}

#chat .head {
  padding-left: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #313338;
  height: 48px;
  box-shadow: var(--shadow-low);

  flex-shrink: 0;
}

#chat .head .titulo-container {
  display: flex;
  align-items: center;
}

#chat .head .titulo-container > h6 {
  font-size: 16px;
}

#chat .head .acoes {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 15px;
}

#chat .chat-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
  flex: 1;
}

#chat .mensagem {
  display: flex;
  gap: 16px;
  padding: 18px;
}

#chat .mensagem .ftperfil {
  width: 40px;
  height: 40px;
}

#chat .mensagem .info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

#chat .mensagem .info > * {
  line-height: 1;
}

#chat .mensagem .nome {
  font-size: 16px;
  font-weight: normal;
  color:rgb(0, 247, 255)
}

#chat .mensagem .data {
  font-size: 12px;
  color: #949ba4;
}

#chat .mensagem .mensagem-conteudo {
  font-size: 14px;
}

#membros {
  display: flex;
  flex-direction: column;
}

#membros .head {
  height: 48px;
  box-shadow: var(--shadow-low);
  background-color: #313338;
  flex-shrink: 0;
}

#membros .lista-membros {
  overflow-y: auto;
}

#membros .cargo {
  padding: 24px 8px 0 16px;
  color: #949ba4;
}

#membros .usuario {
  padding: 1px 0px 1px 8px;
  margin: 0 8px;
  display: flex;
  align-items: center;
  color: rgba(204, 0, 255, 0.616);
  height: 42px;
  border-radius: 4px;
}

#membros .nome-usuario {
  margin-left: 10px;
}

/* TODO: Mudar o nome */
#membros .redmembros { 
  color: rgb(255, 0, 157);
}

#membros .bluemembros {
  color: rgb(0, 247, 255);
}

#membros .greenmembros {
  color: yellow;
}
